### Import the necessary libraries

In [9]:
import pandas as pd
import sqlalchemy as alch
import pymysql

### Store your username and password for the database
You can choose to do this with getpass or with an environment variable.

In [10]:
from getpass import getpass

In [11]:
password = getpass("Introduce tu pass de sql: ")

Introduce tu pass de sql: ········

### Establishes the connection to the database

In [12]:
dbName="publications"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

### Remember to create the engine

In [13]:
from dotenv import load_dotenv
import os

In [14]:
engine = alch.create_engine(connectionData)
print("Connected to server!")

Connected to server!

## Challenge 1 - Who Have Published What At Where?
In this challenge you will write a MySQL `SELECT` query that joins various tables to figure out what titles each author has published at which publishers. Your output should have at least the following columns:

* `AUTHOR ID` - the ID of the author
* `LAST NAME` - author last name
* `FIRST NAME` - author first name
* `TITLE` - name of the published title
* `PUBLISHER` - name of the publisher where the title was published

In [15]:
df = pd.read_sql_query(
"""
SELECT a.au_id AS 'AUTHOR ID', a.au_lname AS 'LAST NAME', 
a.au_fname AS 'FIRST NAME', t.title AS 'TITLE', p.pub_name AS 'PUBLISHER' 
FROM authors AS a
JOIN titleauthor AS ta
ON a.au_id = ta.au_id
LEFT JOIN titles AS t
ON ta.title_id = t.title_id
LEFT JOIN publishers AS p
ON t.pub_id = p.pub_id
ORDER BY a.au_id ASC;

""", engine
)

In [21]:
df.head()

,AUTHOR ID,LAST NAME,FIRST NAME,TITLE,PUBLISHER
0,172-32-1176,White,Johnson,Prolonged Data Deprivation: Four Case Studies,New Moon Books
1,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
2,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books
3,238-95-7766,Carson,Cheryl,But Is It User Friendly?,Algodata Infosystems
4,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems

## Challenge 2 - Who Have Published How Many At Where?
More info in the readme.md

In [22]:
df2 = pd.read_sql_query(
"""
SELECT a.au_id AS 'AUTHOR ID', a.au_lname AS 'LAST NAME', a.au_fname AS 'FIRST NAME', 
p.pub_name AS 'PUBLISHER', t.title AS 'TITLE', COUNT(t.title_id) AS 'TITLE COUNT'
FROM authors AS a
JOIN titleauthor AS ta
ON a.au_id = ta.au_id
LEFT JOIN titles AS t
ON ta.title_id = t.title_id
LEFT JOIN publishers AS p
ON t.pub_id = p.pub_id
GROUP BY P.pub_id, a.au_id, t.title
ORDER BY a.au_id DESC;

""", engine
)

In [18]:
df2.head()

,AUTHOR ID,LAST NAME,FIRST NAME,PUBLISHER,TITLE,TITLE COUNT
0,998-72-3567,Ringer,Albert,New Moon Books,Is Anger the Enemy?,1
1,998-72-3567,Ringer,Albert,New Moon Books,Life Without Fear,1
2,899-46-2035,Ringer,Anne,Binnet & Hardley,The Gourmet Microwave,1
3,899-46-2035,Ringer,Anne,New Moon Books,Is Anger the Enemy?,1
4,846-92-7186,Hunter,Sheryl,Algodata Infosystems,Secrets of Silicon Valley,1

## Challenge 3 - Best Selling Authors
More info in the readme.md

In [23]:
# It gives an error here but it works in Workbench

df3 = pd.read_sql_query(
"""
SELECT a.au_id AS 'AUTHOR ID', a.au_lname AS 'LAST NAME', a.au_fname AS 'FIRST NAME', SUM(s.qty) AS 'TOTAL'
FROM authors AS a
JOIN titleauthor AS ta
ON a.au_id = ta.au_id
LEFT JOIN titles AS t
ON ta.title_id = t.title_id
RIGHT JOIN sales AS s
ON t.title_id = s.title_id
GROUP BY a.au_id
ORDER BY s.qty ASC
LIMIT 3;

""", engine
)

OperationalError: (pymysql.err.OperationalError) (1055, "Expression #1 of ORDER BY clause is not in GROUP BY clause and contains nonaggregated column 'publications.s.qty' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by")
[SQL:
SELECT a.au_id AS 'AUTHOR ID', a.au_lname AS 'LAST NAME', a.au_fname AS 'FIRST NAME', SUM(s.qty) AS 'TOTAL'
FROM authors AS a
JOIN titleauthor AS ta
ON a.au_id = ta.au_id
LEFT JOIN titles AS t
ON ta.title_id = t.title_id
RIGHT JOIN sales AS s
ON t.title_id = s.title_id
GROUP BY a.au_id
ORDER BY s.qty ASC
LIMIT 3;

]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

## Challenge 4 - Best Selling Authors Ranking
More info in the readme.md

## Bonus Challenge - Most Profiting Authors