### Import the necessary libraries

In [16]:
import pandas as pd
import sqlalchemy as alch

### Store your username and password for the database
You can choose to do this with getpass or with an environment variable.

In [17]:
from getpass import getpass
password = getpass("Introduce tu pass de sql: ")

Introduce tu pass de sql: ········

### Establishes the connection to the database

In [18]:
dbName="publications"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

### Remember to create the engine

In [ ]:
from dotenv import load_dotenv
import os

In [19]:
engine = alch.create_engine(connectionData)

## Challenge 1 - Who Have Published What At Where?
In this challenge you will write a MySQL `SELECT` query that joins various tables to figure out what titles each author has published at which publishers. Your output should have at least the following columns:

* `AUTHOR ID` - the ID of the author
* `LAST NAME` - author last name
* `FIRST NAME` - author first name
* `TITLE` - name of the published title
* `PUBLISHER` - name of the publisher where the title was published

In [21]:
pd.read_sql_query('''
SELECT authors.au_id AS 'Autor ID', authors.au_fname AS 'Nombre autor', authors.au_lname AS 'Apellido autor', titles.title AS 'Título',
publishers.pub_name AS 'Editor'
FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id
INNER JOIN titles
ON titles.title_id = titleauthor.title_id
INNER JOIN publishers
ON titles.pub_id = publishers.pub_id;
''', engine)

,Autor ID,Nombre autor,Apellido autor,Título,Editor
0,213-46-8915,Marjorie,Green,The Busy Executive's Database Guide,Algodata Infosystems
1,409-56-7008,Abraham,Bennet,The Busy Executive's Database Guide,Algodata Infosystems
2,267-41-2394,Michael,O'Leary,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
3,724-80-9391,Stearns,MacFeather,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
4,213-46-8915,Marjorie,Green,You Can Combat Computer Stress!,New Moon Books
5,274-80-9391,Dean,Straight,Straight Talk About Computers,Algodata Infosystems
6,712-45-1867,Innes,del Castillo,Silicon Valley Gastronomic Treats,Binnet & Hardley
7,722-51-5454,Michel,DeFrance,The Gourmet Microwave,Binnet & Hardley
8,899-46-2035,Anne,Ringer,The Gourmet Microwave,Binnet & Hardley
9,238-95-7766,Cheryl,Carson,But Is It User Friendly?,Algodata Infosystems
10,427-17-2319,Ann,Dull,Secrets of Silicon Valley,Algodata Infosystems
11,846-92-7186,Sheryl,Hunter,Secrets of Silicon Valley,Algodata Infosystems
12,486-29-1786,Charlene,Locksley,Net Etiquette,Algodata Infosystems
13,724-80-9391,Stearns,MacFeather,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
14,756-30-7391,Livia,Karsen,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
15,899-46-2035,Anne,Ringer,Is Anger the Enemy?,New Moon Books
16,998-72-3567,Albert,Ringer,Is Anger the Enemy?,New Moon Books
17,998-72-3567,Albert,Ringer,Life Without Fear,New Moon Books
18,172-32-1176,Johnson,White,Prolonged Data Deprivation: Four Case Studies,New Moon Books
19,486-29-1786,Charlene,Locksley,Emotional Security: A New Algorithm,New Moon Books
20,807-91-6654,Sylvia,Panteley,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
21,648-92-1872,Reginald,Blotchet-Halls,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley
22,267-41-2394,Michael,O'Leary,"Sushi, Anyone?",Binnet & Hardley
23,472-27-2349,Burt,Gringlesby,"Sushi, Anyone?",Binnet & Hardley
24,672-71-3249,Akiko,Yokomoto,"Sushi, Anyone?",Binnet & Hardley

## Challenge 2 - Who Have Published How Many At Where?
More info in the readme.md

In [22]:
pd.read_sql_query('''
SELECT
authors.au_id AS 'Autor ID',
authors.au_fname AS 'Nombre autor',
authors.au_lname AS 'Apellido autor',
publishers.pub_name AS 'Editor',
COUNT(titles.title_id) as 'Nº Títulos'
FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id
INNER JOIN titles
ON titles.title_id = titleauthor.title_id
INNER JOIN publishers
ON titles.pub_id = publishers.pub_id
GROUP BY authors.au_id, publishers.pub_id;
''', engine)

       Autor ID Nombre autor  Apellido autor                Editor  Nº Títulos
0   213-46-8915     Marjorie           Green        New Moon Books           1
1   899-46-2035         Anne          Ringer        New Moon Books           1
2   998-72-3567       Albert          Ringer        New Moon Books           2
3   172-32-1176      Johnson           White        New Moon Books           1
4   486-29-1786     Charlene        Locksley        New Moon Books           1
5   712-45-1867        Innes    del Castillo      Binnet & Hardley           1
6   722-51-5454       Michel        DeFrance      Binnet & Hardley           1
7   899-46-2035         Anne          Ringer      Binnet & Hardley           1
8   724-80-9391      Stearns      MacFeather      Binnet & Hardley           1
9   756-30-7391        Livia          Karsen      Binnet & Hardley           1
10  807-91-6654       Sylvia        Panteley      Binnet & Hardley           1
11  648-92-1872     Reginald  Blotchet-Halls      Binnet & Hardley           1
12  267-41-2394      Michael         O'Leary      Binnet & Hardley           1
13  472-27-2349         Burt      Gringlesby      Binnet & Hardley           1
14  672-71-3249        Akiko        Yokomoto      Binnet & Hardley           1
15  213-46-8915     Marjorie           Green  Algodata Infosystems           1
16  409-56-7008      Abraham          Bennet  Algodata Infosystems           1
17  267-41-2394      Michael         O'Leary  Algodata Infosystems           1
18  724-80-9391      Stearns      MacFeather  Algodata Infosystems           1
19  274-80-9391         Dean        Straight  Algodata Infosystems           1
20  238-95-7766       Cheryl          Carson  Algodata Infosystems           1
21  427-17-2319          Ann            Dull  Algodata Infosystems           1
22  846-92-7186       Sheryl          Hunter  Algodata Infosystems           1
23  486-29-1786     Charlene        Locksley  Algodata Infosystems           1

## Challenge 3 - Best Selling Authors
More info in the readme.md

In [23]:
pd.read_sql_query('''
SELECT 
authors.au_id AS 'Autor ID',
authors.au_fname AS 'Nombre autor',
authors.au_lname AS 'Apellido autor',
SUM(sales.qty) AS cantidad

FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id
INNER JOIN titles
ON titles.title_id = titleauthor.title_id
INNER JOIN sales
ON sales.title_id = titles.title_id
GROUP BY authors.au_id
ORDER BY cantidad DESC
LIMIT 3;
''', engine)

      Autor ID Nombre autor Apellido autor  cantidad
0  899-46-2035         Anne         Ringer     148.0
1  998-72-3567       Albert         Ringer     133.0
2  213-46-8915     Marjorie          Green      50.0

## Challenge 4 - Best Selling Authors Ranking
More info in the readme.md

In [24]:
pd.read_sql_query('''
SELECT 
authors.au_id AS 'Autor ID',
authors.au_fname AS 'Nombre autor',
authors.au_lname AS 'Apellido autor',
SUM(sales.qty) AS cantidad

FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id
INNER JOIN titles
ON titles.title_id = titleauthor.title_id
INNER JOIN sales
ON sales.title_id = titles.title_id
GROUP BY authors.au_id
ORDER BY cantidad ASC
LIMIT 23;
''', engine)

       Autor ID Nombre autor  Apellido autor  cantidad
0   712-45-1867        Innes    del Castillo      10.0
1   409-56-7008      Abraham          Bennet      15.0
2   274-80-9391         Dean        Straight      15.0
3   172-32-1176      Johnson           White      15.0
4   472-27-2349         Burt      Gringlesby      20.0
5   756-30-7391        Livia          Karsen      20.0
6   672-71-3249        Akiko        Yokomoto      20.0
7   648-92-1872     Reginald  Blotchet-Halls      20.0
8   486-29-1786     Charlene        Locksley      25.0
9   238-95-7766       Cheryl          Carson      30.0
10  807-91-6654       Sylvia        Panteley      40.0
11  722-51-5454       Michel        DeFrance      40.0
12  267-41-2394      Michael         O'Leary      45.0
13  724-80-9391      Stearns      MacFeather      45.0
14  213-46-8915     Marjorie           Green      50.0
15  846-92-7186       Sheryl          Hunter      50.0
16  427-17-2319          Ann            Dull      50.0
17  998-72-3567       Albert          Ringer     133.0
18  899-46-2035         Anne          Ringer     148.0

## Bonus Challenge - Most Profiting Authors

In [35]:
pd.read_sql_query('''
SELECT
authors.au_id as 'Autor ID',
CONCAT(authors.au_lname,' ', authors.au_fname) AS 'Escritor',
((roysched.royalty * titleauthor.royaltyper) + advance) AS TOTAL

FROM authors

INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id

INNER JOIN titles
ON titles.title_id = titleauthor.title_id

INNER JOIN roysched
ON roysched.title_id = titles.title_id

GROUP BY authors.au_id

ORDER BY TOTAL DESC

LIMIT 3;
''', engine)

OperationalError: (pymysql.err.OperationalError) (1055, "Expression #3 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'publications.roysched.royalty' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by")
[SQL:
SELECT
authors.au_id as 'Autor ID',
CONCAT(authors.au_lname,' ', authors.au_fname) AS 'Escritor',
((roysched.royalty * titleauthor.royaltyper) + advance) AS TOTAL

FROM authors

INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id

INNER JOIN titles
ON titles.title_id = titleauthor.title_id

INNER JOIN roysched
ON roysched.title_id = titles.title_id

GROUP BY authors.au_id

ORDER BY TOTAL DESC

LIMIT 3;
]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [36]:
pd.read_sql_query('''
SELECT
authors.au_id as 'Autor ID',
CONCAT(authors.au_lname,' ', authors.au_fname) AS 'Escritor',
((titles.royalty * titleauthor.royaltyper) + advance) AS TOTAL

FROM authors

INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id

INNER JOIN titles
ON titles.title_id = titleauthor.title_id

GROUP BY authors.au_id
''', engine)

OperationalError: (pymysql.err.OperationalError) (1055, "Expression #3 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'publications.titles.royalty' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by")
[SQL:
SELECT
authors.au_id as 'Autor ID',
CONCAT(authors.au_lname,' ', authors.au_fname) AS 'Escritor',
((titles.royalty * titleauthor.royaltyper) + advance) AS TOTAL

FROM authors

INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id

INNER JOIN titles
ON titles.title_id = titleauthor.title_id

GROUP BY authors.au_id
]
(Background on this error at: http://sqlalche.me/e/13/e3q8)