### Import the necessary libraries

In [1]:
import pandas as pd
import sqlalchemy as alch

### Store your username and password for the database
You can choose to do this with getpass or with an environment variable.

In [3]:
from getpass import getpass
password = getpass("Introduce tu pass de sql: ")

Introduce tu pass de sql: ········

### Establishes the connection to the database

In [4]:
dbName="publications"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

### Remember to create the engine

In [5]:
engine = alch.create_engine(connectionData)
print("Connected to server!")

Connected to server!

## Challenge 1 - Who Have Published What At Where?
In this challenge you will write a MySQL `SELECT` query that joins various tables to figure out what titles each author has published at which publishers. Your output should have at least the following columns:

* `AUTHOR ID` - the ID of the author
* `LAST NAME` - author last name
* `FIRST NAME` - author first name
* `TITLE` - name of the published title
* `PUBLISHER` - name of the publisher where the title was published

In [6]:
df = pd.read_sql_query(
"""
SELECT 
authors.au_id as "AUTHOR ID", 
authors.au_lname as "LAST NAME", 
authors.au_fname as "FIRST NAME", 
titles.title as "TITLE", 
publishers.pub_name as "PUBLISHER"
FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id
INNER JOIN titles
ON titles.title_id = titleauthor.title_id
INNER JOIN publishers
ON publishers.pub_id = publishers.pub_id

""", engine
)

## Challenge 2 - Who Have Published How Many At Where?
More info in the readme.md

In [7]:
df = pd.read_sql_query(
"""
SELECT authors.au_id as "AUTHOR ID", authors.au_lname as "LAST NAME", authors.au_fname as "FIRST NAME",
       publishers.pub_name as "PUBLISHER", COUNT(titles.title_id) AS "TITLE COUNT"
FROM authors
    INNER JOIN titleauthor 
	ON authors.au_id = titleauthor.au_id
    INNER JOIN titles 
    ON titles.title_id = titleauthor.title_id
    INNER JOIN publishers
    ON titles.pub_id = publishers.pub_id
GROUP BY publishers.pub_id, authors.au_id

""", engine
)

## Challenge 3 - Best Selling Authors
More info in the readme.md

In [8]:
df = pd.read_sql_query(
"""
SELECT authors.au_id as "AUTHOR ID", authors.au_lname as "LAST NAME", authors.au_fname as "FIRST NAME",
       SUM(qty) AS "TOTAL"
FROM authors
LEFT JOIN titleauthor 
ON titleauthor.au_id = authors.au_id
LEFT JOIN sales
ON titleauthor.title_id = sales.title_id
GROUP BY authors.au_id
ORDER BY TOTAL DESC
LIMIT 3

""", engine
)

## Challenge 4 - Best Selling Authors Ranking
More info in the readme.md

In [9]:
df = pd.read_sql_query(
"""
SELECT authors.au_id as "AUTHOR ID", authors.au_lname as "LAST NAME", authors.au_fname as "FIRST NAME",
       SUM(IFNULL(qty,0)) AS "TOTAL"
FROM authors
LEFT JOIN titleauthor 
ON titleauthor.au_id = authors.au_id
LEFT JOIN sales
ON titleauthor.title_id = sales.title_id
GROUP BY authors.au_id
ORDER BY TOTAL DESC 

""", engine
)

## Bonus Challenge - Most Profiting Authors