### Import the necessary libraries

In [1]:
import pandas as pd
import sqlalchemy as alch
import pymysql

### Store your username and password for the database
You can choose to do this with getpass or with an environment variable.

In [2]:
from getpass import getpass

In [3]:
password = getpass("Introduce tu pass de sql: ")

Introduce tu pass de sql: ········

### Establishes the connection to the database

In [4]:
dbName="publications"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

### Remember to create the engine

In [5]:
from dotenv import load_dotenv
import os

In [6]:
engine = alch.create_engine(connectionData)
print("Connected to server!")

Connected to server!

## Challenge 1 - Who Have Published What At Where?
In this challenge you will write a MySQL `SELECT` query that joins various tables to figure out what titles each author has published at which publishers. Your output should have at least the following columns:

* `AUTHOR ID` - the ID of the author
* `LAST NAME` - author last name
* `FIRST NAME` - author first name
* `TITLE` - name of the published title
* `PUBLISHER` - name of the publisher where the title was published

In [7]:
df = pd.read_sql_query(
"""
SELECT a.au_id AS 'AUTHOR ID', a.au_lname AS 'LAST NAME', 
a.au_fname AS 'FIRST NAME', t.title AS 'TITLE', p.pub_name AS 'PUBLISHER' 
FROM authors AS a
JOIN titleauthor AS ta
ON a.au_id = ta.au_id
LEFT JOIN titles AS t
ON ta.title_id = t.title_id
LEFT JOIN publishers AS p
ON t.pub_id = p.pub_id
ORDER BY a.au_id ASC;

""", engine
)

In [8]:
df.head()

,AUTHOR ID,LAST NAME,FIRST NAME,TITLE,PUBLISHER
0,172-32-1176,White,Johnson,Prolonged Data Deprivation: Four Case Studies,New Moon Books
1,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
2,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books
3,238-95-7766,Carson,Cheryl,But Is It User Friendly?,Algodata Infosystems
4,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems

## Challenge 2 - Who Have Published How Many At Where?
More info in the readme.md

## Challenge 3 - Best Selling Authors
More info in the readme.md

## Challenge 4 - Best Selling Authors Ranking
More info in the readme.md

## Bonus Challenge - Most Profiting Authors