### Import the necessary libraries

In [1]:
import pandas as pd
import sqlalchemy as alch
#your code here

### Store your username and password for the database
You can choose to do this with getpass or with an environment variable.

In [2]:
#Your code here
#user 
#password
from getpass import getpass

In [3]:
password = getpass("Introduce tu pass de sql: ")

Introduce tu pass de sql: ········

In [4]:
dbName="publications"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

### Establishes the connection to the database

In [5]:
#Your code here 
#dbName
engine = alch.create_engine(connectionData)
print("me conecté")
#connectionData=f"mysql+pymysql://{user}:{password}@localhost/{dbName}"

me conecté

### Remember to create the engine

In [ ]:
#Your code here
#engine
print("Connected to server!")

## Challenge 1 - Who Have Published What At Where?
In this challenge you will write a MySQL `SELECT` query that joins various tables to figure out what titles each author has published at which publishers. Your output should have at least the following columns:

* `AUTHOR ID` - the ID of the author
* `LAST NAME` - author last name
* `FIRST NAME` - author first name
* `TITLE` - name of the published title
* `PUBLISHER` - name of the publisher where the title was published

In [6]:
df = pd.read_sql_query(
"""
SELECT a.au_id AS AUTHOR_ID , a.au_lname AS LAST_NAME, a.au_fname AS FIRST_NAME, t.title AS TITLE, p.pub_name AS PUBLISHER
FROM titles AS t 
INNER JOIN publishers AS p ON t.pub_id = p.pub_id 
INNER JOIN titleauthor AS ta ON ta.title_id = t.title_id
INNER JOIN authors AS a ON a.au_id = ta.au_id;

""", engine
)

## Challenge 2 - Who Have Published How Many At Where?
More info in the readme.md

In [7]:
df = pd.read_sql_query(
"""
SELECT ta.au_id AS AUTHOR_ID, a.au_lname AS LAST_NAME, a.au_fname AS FIRST_NAME, p.pub_name AS PUBLISHER, COUNT(t.title) AS TITLE_COUNT
FROM titles AS t
    INNER JOIN publishers AS p ON t.pub_id = p.pub_id
    INNER JOIN titleauthor AS ta ON ta.title_id = t.title_id
    INNER JOIN authors AS a ON a.au_id = ta.au_id
GROUP BY a.au_id, p.pub_name
ORDER BY TITLE_COUNT DESC;

""", engine
)

## Challenge 3 - Best Selling Authors
More info in the readme.md

In [8]:
df = pd.read_sql_query(
"""
SELECT a.au_id AS AUTHOR_ID , a.au_lname AS LAST_NAME, a.au_fname AS FIRST_NAME, SUM(s.qty) AS TOTAL
FROM authors AS a
	LEFT JOIN titleauthor AS ta ON a.au_id = ta.au_id
	LEFT JOIN titles AS t ON ta.title_id = t.title_id
    LEFT JOIN sales AS s ON t.title_id = s.title_id
GROUP BY a.au_id
ORDER BY TOTAL DESC
LIMIT 3;

""", engine
)

## Challenge 4 - Best Selling Authors Ranking
More info in the readme.md

In [9]:
df = pd.read_sql_query(
"""
SELECT a.au_id AS AUTHOR_ID , a.au_lname AS LAST_NAME, a.au_fname AS FIRST_NAME, SUM(ifnull(s.qty, 0)) AS TOTAL
FROM authors AS a
	LEFT JOIN titleauthor AS ta ON a.au_id = ta.au_id
	LEFT JOIN titles AS t ON ta.title_id = t.title_id
    LEFT JOIN sales AS s ON t.title_id = s.title_id
GROUP BY a.au_id
ORDER BY TOTAL DESC;

""", engine
)

## Bonus Challenge - Most Profiting Authors

In [15]:
SELECT a.au_id AS AUTHOR_ID , a.au_lname AS LAST_NAME, a.au_fname AS FIRST_NAME, sum(t.royalty + t.advance) AS PROFIT
FROM authors AS a
LEFT JOIN titleauthor AS ta ON a.au_id = ta.au_id
LEFT JOIN titles AS t ON ta.title_id = t.title_id
LEFT JOIN sales AS s ON t.title_id = s.title_id
GROUP BY a.au_id
ORDER BY PROFIT DESC
LIMIT 3;

SyntaxError: invalid syntax (<ipython-input-15-d1e98ff93e7d>, line 1)